@value colorMustard, colorBlue, textFontSizeM, textLineHeightM, textFontSizeL, textLineHeightL, sizeS from '../navigation/config.css';
@value imageMaxHegiht: 220px;

.flipIconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  left: calc(50% - 40px);
  padding: 4px;

  &--toPast {
    background-color: colorMustard;
  }

  &--toPresent {
    background-color: colorBlue;
  }
}

.streetItemHeadline {
    font-size: textFontSizeL;
    line-height: textLineHeightL;
    margin-left: size_s;
}

.itemDescriptionContainer {
    margin: 0 sizeS;
}

.streetItemDescription {
    font-size: textFontSizeM;
    line-height: textLineHeightM;
}

.imagesContainer {
    max-height: imageMaxHegiht;
    overflow: hidden;
}

.imagesContainer img {
    width: 100%;
    height: auto;
}
