@value colorMustard, colorBlue, textFontSizeM, textLineHeightM, textFontSizeL, textLineHeightL, sizeS, sizeL from '../navigation/config.css';
@value imageMaxHegiht: 220px;

.flipIconContainer {
  width: sizeL;
  height: sizeL;
  border-radius: 50%;
  position: fixed;
  bottom: sizeL;
  left: calc(50% - 40px);
  padding: 4px;

  &--toPast {
    background-color: colorMustard;
  }

  &--toPresent {
    background-color: colorBlue;
  }
}

.streetItemHeadline {
    font-size: textFontSizeL;
    line-height: textLineHeightL;
    margin-left: sizeS;
}

.itemDescriptionContainer {
    margin: 0 sizeS;
}

.streetItemDescription {
    font-size: textFontSizeM;
    line-height: textLineHeightM;
}

.imagesContainer {
    max-height: imageMaxHegiht;
    overflow: hidden;
}

.imagesContainer img {
    width: 100%;
    height: auto;
}

.fcBox {
  position: relative;
  perspective: 1000px;
  

  &__card {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.24, 0.97);
    transition-duration: 0.8s;
    transition-property: transform;
  }
}

.fcBoxFlipped {
  .fcBox__card {
    transform: rotateY(360deg);
  }
}
