@value sizeM, coloLightGray, coloDarkGray, colorWhite, sizeL from '../../utils/basics.css';

.listItem {
  position: relative;
  padding: sizeM 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid coloLightGray;

  &--cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: coloDarkGray;
    opacity: 0.7;
    z-index: 1;
  }

  &--navIcon {
    position: inherit;
    width: sizeL;
    height: sizeL;
    z-index: 1;
  }

  &--name {
    color: colorWhite;
    position: inherit;
    z-index: 1;
    pointer-events: none;
  }
}

.mapNavigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 30vh;
  min-height: 30vh;
  overflow-y: scroll;

  .listItem {
    cursor: pointer;
  }
}

.listOnDesktop {
  width: 50%;
  height: 100vh;
  overflow: scroll;
}

.desktopViewContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  @media (min-width: 768px) {
    flex-direction: row;
  }

  .mapContainer {
    width: 50%;
  }
}
