.list {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.listItemCover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #222;
  opacity: 0.7;
  z-index: 1;
  cursor: pointer;
}

.streetNavIcon {
  position: inherit;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.itemHeadline {
  color: white;
  position: inherit;
  z-index: 1;
  pointer-events: none;
}

.mapNavigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 30vh;
  min-height: 30vh;
  overflow-y: scroll;
}

.mapNavigation .list {
  cursor: pointer;
}
