@value sizeM, sizeL from '../../utils/basics.css';

.slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap; 
}

.sliderWrapper {
    display: inline-flex;
    flex-direction: row;
    height: 400px;
    left: 0;
    position: relative;
    transition: left 0.2s linear;
    will-change: left;
}

.slide {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sliderItemNavIcon {
    width: sizeL;
    height: sizeL;
    position: absolute;
    top: 50%;
    background: none;
    border: none;
}

.sliderItemNavIconRight {
    right: sizeM;
}

.sliderItemNavIconLeft {
    left: sizeM;
}
    