.navContainer {
    position: relative;
    height: 40px;
    padding-bottom: 8px;
}

.navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 8px;
    top: 0;
    width: 40px;
    height: 40px;
}

.navLogo img {
    height: 100%;
    width: auto;
}

.backOnLeft {
    position: absolute;
    background: white;
    width: 40px;
    height: 40px;
    top: 0;
    left: 8px;
}

.iconList {
    position: absolute;
    background: white;
    width: 40px;
    height: 40px;
    top: 0;
    right: 8px;
}
