.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.navContainerDeatils {
  position: absolute;
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  height: 40px;
}

.navLogo img {
  height: 100%;
  width: auto;
}

.navigationIcon {    
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationIcon svg {
  width: 40px;
  height: 40px;
}

.backOnLeft {
  position: absolute;
  top: 10px;
  left: 10px;
}

.backOnRight {
  position: absolute;
  top: 10px;
  right: 10px;
}
