@value colorMustard, colorBlue, colorWhite, colorNavigationGray, textFontSizeM, textLineHeightM, textFontSizeL, textLineHeightL, sizeXs, sizeS, sizeL from '../navigation/config.css';
@value mainLogoMaxWidth: 180px;

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: sizeXs sizeS;
  min-height: 55px;

  &--detail {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: colorWhite;

    &--present {
      background: colorBlue;
    }

    &--past {
      background: colorMustard;
    }
  }
}

.navDesktopInfoLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationLink {
  color: colorNavigationGray;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigationLinkDetail {
  color: colorWhite;
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: mainLogoMaxWidth;
  height: sizeL;

  img {
    height: 100%;
    width: auto;
  }
}

.navigationIconDesktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: sizeL;
}

.navigationMainMobileSwitchIcon {    
  display: flex;
  justify-content: center;
  align-items: center;
  height: sizeL;
}

.navigationIconSvg {
  svg {
    max-width: sizeL;
    max-height: sizeL;
    width: sizeL;
    height: sizeL;
  }
}

.navigationIcon {
  position: absolute;
  top: sizeXs;

  svg {
    max-width: sizeL;
    max-height: sizeL;
    width: sizeL;
    height: sizeL;
  }

  &--onRight {
    right: sizeXs;
  }

  &--onLeft {
    left: sizeXs;
  }
}
