@value colorMustard, colorBlue, colorWhite, textFontSizeM, textLineHeightM, textFontSizeL, textLineHeightL, sizeXs, sizeS, sizeL from '../navigation/config.css';
@value mainLogoMaxWidth: 180px;

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: sizeXs sizeS;

  &--detail {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: colorWhite;

    &--present {
      background: colorBlue;
    }

    &--past {
      background: colorMustard;
    }
  }
}

.navDesktop {
  .navigationLink {
    color: #77787a;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: mainLogoMaxWidth;
  height: sizeL;
}

.navLogo img {
  height: 100%;
  width: auto;
}

.navigationIcon {    
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationIcon {
  position: absolute;
  top: sizeXs;

  svg {
    max-width: sizeL;
    max-height: sizeL;
    width: sizeL;
    height: sizeL;
  }

  &--onRight {
    right: sizeXs;
  }

  &--onLeft {
    left: sizeXs;
  }
}
