@value colorMustard, colorBlue, colorWhite, colorNavigationGray, textFontSizeM, textLineHeightM, textFontSizeL, textLineHeightL, sizeXs, sizeS, sizeL, sizeXl from '../../utils/basics.css';
@value mainLogoMaxWidth: 180px;

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 15;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 sizeS;
  height: sizeXl;
  box-sizing: border-box;
  width: 100%;
  
  @media (min-width: 768px) {
    padding: 0 sizeS;
  }

  &--present {
    justify-content: center;
    background: colorBlue;

    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }

  &--past {
    justify-content: center;
    background: colorMustard;

    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }
}

.navLinksContainer {
  justify-content: center;
  align-items: center;
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.navLinksMobileOnlyContainer {
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }
}

.logoContainer {
  display: flex;
}

.navInfoLinksMobileOnly {
  display: none;

  @media (min-width: 768px) {
    display: none;
  }

  &--active {
    display: flex;
    margin-left: 8px;
    position: relative;
    top: sizeXl;

    .navigationLinkDetail {
      color: colorNavigationGray; 
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.navigationLink {
  font-size: textFontSizeM;
  color: colorNavigationGray;
  padding: sizeS;
  text-decoration: none;
  text-transform: uppercase;
}

.navigationLink:hover {
  color: #000000
}

.streetNameHeadline {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.navigationLinkDetail {
  color: colorWhite;
}

.navigationLinksDesktop {
  display: none;

  @media (min-width: 768px) {
    display: block;

    .navigationIcon {
      top: 12px;
    }
  }
}

.navigationLinksOnlyMobile {
  .navigationIcon {
    top: 12px;
  }
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: mainLogoMaxWidth;
  height: sizeL;
  z-index: 1;

  svg {
    height: 100%;
    width: auto;
    max-width: 140px;
    margin-left: sizeXs;

    @media (min-width: 768px) {
      max-width: auto;
    }
  }
}

.navigationIconDesktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: sizeL;
}

.navigationMainMobileSwitchIcon {    
  display: flex;
  justify-content: center;
  align-items: center;
  height: sizeL;
}

.navigationIconSvg {
  svg {
    max-width: sizeL;
    max-height: sizeL;
    width: sizeL;
    height: sizeL;
  }
}

.navigationDetailIconOnLeft {
  position: absolute;
  left: sizeXs;
  /* top: auto; */
}

.navigationDetailIconOnRight {
  position: absolute;
  right: sizeXs;
  /* top: auto; */
}

.navigationIcon {
  position: absolute;

  svg {
    max-width: sizeL;
    max-height: sizeL;
    width: sizeL;
    height: sizeL;
  }

  &--onRight {
    right: sizeXs;
  }

  &--onLeft {
    left: sizeXs;
  }
}



.infoButton {
  margin-left: sizeS;
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }
}
