@value sizeS, sizeXs, sizeM, sizeL, coloDarkGray, colorWhite, textFontSizeM from '../../utils/basics.css';

.modal {
    display: block;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
    z-index: 999;
}

.modalBox {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    box-shadow: 0 3px 32px 0 rgba(2,10,27,0.15);
    background-color: #fff;
    position: relative;

    @media (min-width: 768px) {
        border-radius: sizeXs;
        height: auto;
        z-index: 1000;
        margin: 65px 0;
        width: 800px;
    }
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding-top: sizeL;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: sizeM;
  }
}

.modalContentImage img {
    flex-grow: 2;
    width: 100%;
}

.modalContentInfo {
    flex-grow: 1;
    padding: 0 sizeM;

    @media (min-width: 768px) {
        max-width: 33%;
        max-height: 300px;
        padding-left: sizeS;
    }
    
}

.modalContentInfoParagraph {
    max-height: 200px;
    overflow: scroll;
}

.modalCloseButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: coloDarkGray;
    border: none;
    font-size: textFontSizeM;
    cursor: pointer;
    border-radius: sizeXs;
    padding: 0;
    background-color: white;
}
