@value sizeXl from './utils/basics.css';

.container {
  display: flex;
  flex-direction: column;
  margin-top: sizeXl;

  /* by default we keep full page occupied with header + content (to nicely display static pages + bg image) */
  min-height: calc(100vh - sizeXl);
  
  @media (min-width: 768px) {
    flex-direction: row;
  }

  &--with-background {
    background-position: center;
    background-attachment: scroll, fixed;
    background-image: url(/images/gradient.png), url(/images/kazimir-bg.jpg);
    background-repeat: repeat, no-repeat;
    background-size: cover;

    @media (min-width: 768px) {
      /* by default we align to right when there is single box component (static pages) */
      justify-content: flex-end;
    }
  }

  .box {
    width: 100%;
    overflow-y: auto;
    position: relative;

    &--fixed {
      position: fixed;
      right: 0;
    }

    /* this class to be used with container with background */
    &--static {
      background-color: #ffffff;
      margin: 256px 0 128px;

      @media (min-width: 768px) {
        margin: 0;
      }
    }

    @media (min-width: 768px) {
      width: 50%;
    }
  }
}

.hiddenOnMobile {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}
